.download li {
    margin-right: 15px;
    padding: 0;
}
.city {
    margin: 0;
}
.knop {
    color: #fff;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;

}
.kartin {
    display: flex;
    flex-direction: row;
}
.mond p {
    margin: 0;
    display: flex;
    justify-content: center;
    color: #fff;
    font-size: 36px;
    
}
.liue p {
    margin: 0;
    display: flex;
    justify-content: center;
    color: #fff;
    font-size: 36px;
    
}
.inad p {
    margin: 0;
    display: flex;
    justify-content: center;
    color: #fff;
    font-size: 36px;
    
}
.skoro p {
    margin: 0;
    display: flex;
    justify-content: center;
    color: #fff;
    font-size: 20px;
    
}

.news h3 {
    padding: 150px;
    display: flex;
    justify-content: center;
    color: #fff;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
}
.news img {
    height: 250px;
    width: 310px;
}
.news {
    display: flex;
    flex-direction: column;
    background-image: url(http://img2.reactor.cc/pics/post/full/Genshin-Impact-%D0%98%D0%B3%D1%80%D1%8B-%D0%BC%D0%BD%D0%BE%D0%B3%D0%BE-%D0%BA%D0%B0%D1%80%D1%82%D0%B8%D0%BD%D0%BE%D0%BA-6221764.png);
    height: 800px;
    background-size: cover;
    background-repeat: no-repeat;
}
.navigation img {
    padding-right: 200px;
}
.text {
    display: flex;
    justify-content: center;
    margin: 0;
    color: #fff;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    margin: 0;
}
.news p {
    color: #fff;

}

.glavnaya {
    height: 100%;
    width: 100%;

}
.download {
    display: flex ;
    justify-content: center;
    flex-direction: row;
    
}

.header a {
    color: #fff;
}

.header li {
    margin: 0;
    padding-right: 80px;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}
.header {
    display: flex ;
    flex-direction: row;
    justify-content: space-between;
}

body {
    margin: 0;
}
.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    background-color: black;
    
}

.mond {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("https://uploadstatic-sea.hoyoverse.com/contentweb/20200211/2020021114275255981.jpg");
    height: 260px;
}

.liue {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("https://uploadstatic-sea.hoyoverse.com/contentweb/20200526/2020052612372361982.jpg");
    height: 260px;
}

.inad {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("https://uploadstatic-sea.hoyoverse.com/contentweb/20210720/2021072015230536749.jpg");
    height: 260px;
}

.skoro {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(30, 31, 46);
    height: 260px;
}

.social img {
    height: 36px;
    width: 36px;
    float: left;
    margin-right: 24px;
}

.znachki {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 56px;
    padding-left: 80px;
    background-color: rgb(53, 53, 53);
}


.footer {
    background-color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer p {
    color: #fff;
    font-family: sans-serif;
    font-size: 12px;
    text-align: center;
    max-width: 1080px;
}


video {   
    width: 100%;
}

.info {
    z-index: 5;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 50%;
    width: 100%;
    min-height: 280px;
    transform: translate(-50%, -340px);
    justify-content: flex-end;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.info p {
    padding: 0;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.two p {
    font-weight: bolder;
}

.footer ul {
    margin: 0;
    display: flex;
    flex-direction: row;
    padding: 0;
}

.footer li {
    margin: 0;
    padding-right: 30px;
}

.kar {
    height: 30px;
    width: 90px;
}
.foot {
    width: 300px;
    height: 55px;
}

.navigation ul {
    margin: 0;
    padding: 0;
}

.knop:hover {
    color: rgb(233, 222, 69);
}

.carusel {
    margin: 0;
    height: 400px;
    width: 640px;
  }

  .swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

.news li {
    display: flex;
    flex-direction: column;
}
